
  /* label, */
  input,
  textarea {
    margin-bottom: 23px;
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    background-color: rgba(66, 155, 177, 0.42);
    transition: 0.3 ease-in-out;
  }

  textarea {
    height: 100px;
    margin-bottom: 50px;
  }

.in-box{
  position: relative;
}
  label{
    color: white;
    font-weight: 500;
    position: absolute;
    top: -21.5px;
    left: 10px;
    transition: 0.4s ease-in-out;
  }
  input:focus ~ label,
  input:active ~ label,
  textarea:focus ~ label,
  textarea:active ~ label{
    color: #008170;
   
  }
  input:focus, textarea:focus,
  input:active, textarea:active{
    border: 2px solid rgb(46, 249, 208);
    outline: none;
  }
  input:focus::placeholder,
  textarea:focus::placeholder{
    color: transparent;
  }
  
  /* input:focus ~ label, input:not(:placeholder-shown) input:not(:focus) ~ label{
    top: -12px;
    color: #008170;
    background-color: aliceblue;
    border-radius: 4px;
    padding: 1px 4px;
  } */
  
  button {
    margin: auto;
    border-radius: 30px;
    width: 120px;
    padding: 12px; 
    background-color: black;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #232D3F;
    color: #008170;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 85vh;
    margin: auto;
    /* background-color: black;  */
     border-radius: 10px;
    color: aliceblue;
  }
  .left{
    display: grid;
    width: 55%;
    height: 95%;
    margin: auto;
    margin-right: 5px;
    place-content: center;
    background-image: linear-gradient(
    55deg,
    hsl(0deg 0% 6%) 15%,
    hsl(190deg 27% 9%) 70%,
    hsl(190deg 27% 9%) 78%,
    hsl(0deg 0% 6%) 100%
  );
  border-radius: 10px;
  }

  .left h2{
    display: block;
    font-size: 2rem;
    width: 400px;
    margin-bottom: 50px;
  }
  .left img{
    width: 260px;
    position: relative;
    bottom: 1.5rem;
    left: -100px;
    
  }
  .right{
    display: grid;
    width: 40%;
    height: 95%;
    margin: auto;
    place-content: center;
    background-color: #fff;
    border-radius: 10px;
  }
  .right h2{
    color: #008170;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .contact-icons a i{
    font-size: 2rem;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }

  .contact-icons a i:hover{
    color: rgb(46, 249, 208);
    transform: translateY(-8px);
  }